#background {
	background-image: url('Images/SpellplayBackgorund.jpg');
	height: 800px;
	width: 1200px;
	border: 15px solid black;
	border-radius: 10px;
}


#hero {
		background-image: url('Images/vivi2.png');
		height: 78px;
		width: 68px;
		position: absolute;
		top: 790px;
		left: 500px;
}

#enemies {
	
}

.enemy
{
	background-image: url('https://i.imgur.com/8Z5BQR4.png?3');
		height: 50px;
		width: 50px;
		position: absolute;
		
}

#frostbolt {
	height: 800px;
	width: 1200px;
	position: absolute;


}

.frostbolt {
	background-image: url('Images/Frostbolt.png');
		height: 67px;  
		width: 20px;
		position: absolute;

}


#timer {

	top: 375px;
	left: 562px;
	position: absolute;
	font-family: 'Rubik', sans-serif;
	font-size: 110px;
	font-color: rgb(13,13,13);opacity:0.7;
	font-weight: bold;
}

#round{
	top: 290px;
	left: 560px;
	position: absolute;
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-color: rgb(13,13,13);opacity:0.7;
	font-weight: bold;
	font-style: underline;

}

body {
	background-image: url('Images/Galaxy.jpg');
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-color: white;

}


button {
 background-color: blue;
}









